.main {
position: absolute; 
z-index: 1000;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
overflow: hidden;
}
  .App {
    font-family: sans-serif;
    text-align: center;
    height: auto;
    width: auto;
    margin: 20px auto;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .heading {
    text-align: center;
    color: rgb(247, 202, 209);
    font-size: 35px;
    font-weight: 900;
    text-shadow: -4px -4px 1px rgba(255, 255, 255, 0.1),
      1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .modal-desk {
    padding: 20px;
    overflow: scroll;
  }
  .close {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    padding: 0 10px;
    margin-top: 0px;
    color: red;
  }
  .modal-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;

  }
  .btns {
    color: rgb(130, 65, 250);
    padding: 10px 40px;
    border: 1px solid rgb(130, 65, 250);
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    text-align: start;
    display: block;
    width: 90%;
    font-size: 1.12rem;
    background-color: transparent;
  }
  